<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153415108628-lev7afm54fe9n419a7782lht6ufe0gkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153415108628-lev7afm54fe9n419a7782lht6ufe0gkg</string>
	<key>API_KEY</key>
	<string>AIzaSyDKIhLblNikDhMepC_FnqW_VSu-9O73f28</string>
	<key>GCM_SENDER_ID</key>
	<string>153415108628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>manuggar.obligatorio-final</string>
	<key>PROJECT_ID</key>
	<string>swift-2023-pokemon-api</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-2023-pokemon-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153415108628:ios:165df35cb5b559672d7f01</string>
</dict>
</plist>